@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;600;900&display=swap");

:root {
  --main-font: "Barlow", san-serif;
  --darkest: #000814;
  --dark-blue: #001d3d;
  --blue: #003566;
  --light-blue: #0054a3;
  --yellow: #ffe97b;
  --white: #ffffff;
}
*,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

* {
  font-family: var(--main-font);
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--light-blue);
}

a:hover,
a:focus {
  font-weight: 900;
}
