:root {
  --darkest: #000814;
  --dark-blue: #001d3d;
  --blue: #003566;
  --light-blue: #0054a3;
  --yellow: #ffe97b;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, var(--darkest), var(--dark-blue), var(--blue), var(--light-blue), var(--yellow));
}

html,
body {
  height: 100vh;
}

* {
  font-family: var(__main-font);
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(__light-blue);
}

a:hover,
a:focus {
  font-weight: 900;
}
