:root {
  __darkest: #000814;
  __dark-blue: #001d3d;
  __blue: #003566;
  __light-blue: #0054a3;
  __yellow: #ffe97b;
  __white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #dbc6c6;
}

html,
body {
  height: 100vh;
}

* {
  font-family: var(__main-font);
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(__light-blue);
}

a:hover,
a:focus {
  font-weight: 900;
}
